/* Card.css */
.Card {
  position: relative;
  width: 190px;
  height: 110px;
  color: white;
  border-radius: 20px;
  display: flex;
}

.CardTitle {
  margin: 10px;
  position: absolute;
  bottom: 10px;
  color: #ffffff;
}

.SwitchContainer {
  position: absolute;
  top: 10px;
  right: 20px;
  color: rgb(0, 0, 0);
}
.devices-icon {
  position: absolute;
  bottom: 10px;
  left: 10px;

}