/* src/App.css */
.app {
  
  display: flex;
  position: relative;
  overflow: hidden;
  
  
  
}
.body {
  

}


.Sidebar {
  
  width: 100px;
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-color: #7c41f5;
  padding: 20px;
  padding-top: 10px;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 30px;
  align-items: center;
  
}
.SidebarItem {
  color: white;
  text-align: center;
  margin: 10px 0; /* Adjust the margin to control the vertical space between items */
}

.w3-bar {
  display: flex;
  justify-content: space-between;
  padding: 2px;
  padding-right: 30px;
  
  border-radius: 10px;
  margin-top: 10px;
  margin-left: 10px;
  
}
.main-content {
  /* Set your desired fixed width */
   /* Center the content */
   margin: 10px;
  display: flex;
  
  
}

.left-section {
  width: 65%; /* Set the fixed width for the left section */
  
  padding: 10px;
  background-color: #f5f5f5;
  
  
  border-radius: 20px;
   /* Include padding and border in the total width */
}

.right-section {
  /* Set the fixed width for the right section */
  width: 30%;
  position: relative;
  border-radius: 20px;
  background-color: #f5f5f5;
  padding: 20px;
  
  
  
   /* Include padding and border in the total width */
}

.weather-section {
  height: 200px;
  width: 50%;
  
  padding: 10px;
  justify-content: center;
  text-align: center;
}

.left-section .header {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}

.left-section .humidity,
.left-section .temperature,
.left-section .dropdown {
  display: flex;
  align-items: center;
}

.left-section .scrollable-section {
  height: auto;
  
  flex-direction: row;
  align-items: flex-start;
  
  margin-top: 10px;
  
  padding: 10px;
  
}

.rooms {
  margin: 10px;
  margin-top: 20px;
  padding: 5px;
}

.rooms .scrollable-section {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  padding: 10px;
  align-items: center;
}

.rooms .scrollable-section::-webkit-scrollbar {
  /* WebKit browsers like Chrome and Safari */
  width: 0;
  height: 0;
}

.card {
  min-height: 120px;
  min-width: 160px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  position: relative;
}

.status-text {
  position: absolute;
  top: 10px;
  left: 10px;
}

.color-switch {
  position: absolute;
  top: 10px;
  left: 10px;
 
  
}

.color-switch-text {
  color: green;
}

.color-switch-text-off {
  color: red;
}

.card-content {
}

.device-name {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: #7c41f5;
}

.device-icon {
  position: absolute;
  color: #7c41f5;
  top: 30px;
  left: 10px;
}

.switch-container {
  position: absolute;
  bottom: 30px;
  right: 10px;
  color: #7c41f5;
}
.control-panel {
  border-radius: 10px;
  width: 800px;
  height: 380px;
  
}
.card.selected-card {
  background-color: #7c41f5;
  color: white; /* Set the text color to contrast with the background */
}
.device-name.selected-text {
  color: white;
}

.device-icon.selected-icon {
  color: white;
}


/* App.css */

.MyDevicesPaper {
  width: 90%;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 20px;
}

.MyDevicesHeader {
  height: 15%;
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  justify-content: space-between;
}

.dropdown {
  width: 80px;
  margin-right: 20px;
}

.CardsContainer {
  max-height: calc(2 * (110px + 8px) + 8px); /* Max height for 2 rows */
  overflow-y: auto; /* Enable vertical scrolling if needed */
}

/* Hide the scrollbar for WebKit browsers (Chrome, Safari) */
.CardsContainer::-webkit-scrollbar {
  width: 0;
  background: transparent; /* Optional: Make the scrollbar area transparent */
}

/* Optional: If you want to hide the scrollbar for Firefox */
.CardsContainer {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent; /* Optional: Make the scrollbar area transparent */
}

/* Optional: If you want to hide the scrollbar for IE and Edge */
.CardsContainer {
  -ms-overflow-style: none;
}
/* Define styles for your Card component here */
