/* src/App.css */
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  
  background-color: #ffffff;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Sidebar {
  height: 95%;
  width: 5%;
  min-width: 80px;
  background-color: #7c41f5;
  padding: 5px;
  padding-top: 50px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  justify-content: center;
}

.SidebarItem {
  color: white;
  text-align: center;
  margin: 10px 0; /* Adjust the margin to control the vertical space between items */
}

.w3-bar {
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 90vw;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 20px;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 1; /* Take up the remaining space */
}

.main-content {
  display: flex; 
  flex :1;/* Take up the remaining space */
  margin: 20px;

  background-color: white;
}
.left-section {
  flex: 65%; /* Takes up 60% of the available space */
  padding: 20px; /* Adjust as needed */
  background-color: #e58d8d; 
  margin-right: 10px;
  border: 20px; 
  border-color: black;
  border-radius: 20px;/* Optional: Set background color */
}

.right-section {
  flex: 35%; /* Takes up 40% of the available space */
  padding: 20px;
  border-radius: 20px;
  margin-right: 10px; /* Adjust as needed */
  background-color: #f5f5f5;
  border: 20px; 
  border-color: black;/* Optional: Set background color */
}
.weather-section {

  height: 200px;
  width: 100%;
  
  background-color: aquamarine;
  justify-content: center;
  text-align: center;
}
.left-section {
  flex: 65%;
  padding: 20px;
  background-color: #e58d8d;
  margin-right: 10px;
  border-radius: 20px;
}

.left-section .header {
  display: flex;
  margin: 10px;
  justify-content: space-between;
  align-items: center;
}

.left-section .humidity,
.left-section .temperature,
.left-section .dropdown {
  display: flex;
  align-items: center;
}

.left-section .scrollable-section {
  height: 150px;
  overflow-x: auto;
  flex-direction: row; /* Change from row to column */
  align-items: flex-start; /* Align items to the start */
  margin-top: 20px;
  border-radius: 10px;
  padding: 10px;
  flex-grow: 1; /* Allow the container to grow vertically */
}
.rooms {

  margin: 10px;
  margin-top: 20px;
  padding: 5px;
}
.rooms .scrollable-section {
  display: flex;
  overflow-x: auto;
  padding: 10px;
  align-items: center;
}

.card {
  min-height: 120px; /* Use min-height instead of height */
  min-width: 160px; /* Specify min-width for consistency */
  margin-right: 10px;
  margin-bottom: 10px; /* Add margin-bottom to create space between rows */
  background-color: #f5f5f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 10px;
  position: relative;
}

.status-text {
  position: absolute;
  top: 10px;
  left: 10px;
  
}
.color-switch {
  position: absolute;
  top: 10px;
  left: 10px;
}

.color-switch-text {
  color: green;
}

.color-switch-text-off {
  color: red;
}

.card-content {
  
  
   /* Align items to the left */
  /* Allow content to grow and push switch to the bottom */
}

.device-name {
 position: absolute;
 top: 80px;
 left: 10px;
  color: #7c41f5;
  
}

.device-icon {
  position: absolute;
  top: 30px;
 left: 50px;
  
}

.switch-container {
  position: absolute;
  bottom: 30px;
  right: 10px;
}