/* src/App.css */
.app {
  width: 100vw;

  height: 100vh;
  display: flex;
  background-color: #ffffff ;
}
body {
 margin: 0;
 padding: 0;

}
.Sidebar {
  height: 95%;
  width: 100px;
  align-self: flex-start;
  background-color: #7c41f5 ;
  padding: 5px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 30px;
  
}
.w3-bar{
  background-color: rgb(255, 255, 255);
  height: 50px;
  width: 90vw;
  border-radius: 20px;
  margin-left: 10px;
}
